:root{
    --branco-principal: #FFFFFF;

    --cinza-secundario: #c0c0c0;

    --cor-fundo: #00030C;
    
    --botão-vermelho: #167BF7;
}
body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
}
.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-botão{
    background-color: var(--botão-vermelho);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
.botão-secundario{
    background: transparent;
    border: 2px solid var(--botão-vermelho);
}